.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid var(--hadesui-border-color);
    border-radius: 8px;
    background-color: var(--hadesui-bg-color);
    color: var(--hadesui-text-color);
    overflow: hidden;
    padding: 0px 8px;
}

.common-input {
    width: 100%;
    background-color: var(--hadesui-bg-color);
    color: var(--hadesui-text-color);
    height: 36px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
}

.input-icon {
    display: flex;
    justify-content: center;
    align-self: center;
}

.input-icon.prefix {
    margin-right: 8px;
}

.input-icon.suffix {
    margin-left: 8px;
}

.common-input:focus {
    outline: none;
    border-color: var(--hadesui-border-focus-color);
    box-shadow: none;
}

.common-input[type="number"]::-webkit-outer-spin-button,
.common-input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.common-input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}