.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid var(--hadesui-border-color);
    border-radius: 8px;
    background-color: var(--hadesui-bg-color);
    color: var(--hadesui-text-color);
    overflow: hidden;
    min-height: 36px;
    transition: border-color 0.2s ease;
}

.common-input {
    position: absolute;
    width: 100%;
    padding: 0px 8px;
    background-color: var(--hadesui-bg-color);
    color: var(--hadesui-text-color);
    height: 100%;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    min-height: 36px;
}

.common-input::placeholder {
    font-size: 14px;
    color: var(--hadesui-placeholder-color);
}

.common-input.padding-prefix {
    padding-left: 32px;
}

.common-input.padding-suffix {
    padding-right: 32px;
}

.input-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 30px;
    width: 30px;
    min-width: 30px;
}

.input-icon.prefix {
    left: 2px;
}

.input-icon.suffix {
    right: 2px;
}

.common-input:focus {
    outline: none;
    border-color: var(--hadesui-border-focus-color);
    box-shadow: none;
}

.common-input[type="number"]::-webkit-outer-spin-button,
.common-input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.common-input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}